<div class="container">
    <div class="row">
        <div class="custom-card" style="background-color: rgb(237, 237, 248);">
            <div class="mb-1" [ngStyle]="{'color': 'blue'}"><mat-icon>publish</mat-icon></div>
            <div>Request Made: 
                {{ requests ? requests.length : 0 }}
            </div>
        </div>
        <div class="custom-card" style="background-color: rgb(251 251 241);">
            <div class="mb-1" [ngStyle]="{'color': 'rgb(159 199 2)'}"><mat-icon>pending</mat-icon></div>
            Pending Request: 
            {{ pendingRequests }}
        </div>
        <div class="custom-card" style="background-color: rgb(239, 249, 239);">
            <div class="mb-1" [ngStyle]="{'color': 'green'}"><mat-icon>task_alt</mat-icon></div>
            Approved Request: 
            {{ acceptedRequests }}
        </div>
        <div class="custom-card" style="background-color: rgb(245, 229, 229);">
            <div class="mb-1" [ngStyle]="{'color': 'red'}"><mat-icon>report</mat-icon></div>
            Rejected Request: 
            {{ rejectedRequests }}
        </div>
    </div>
</div>
