<h2>Hospital Details</h2>
<div class="table-cover">
    <table class="table table-striped"
        *ngIf="hospitals$ | async as hospitals">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">State</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hospital of hospitals; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{ hospital.username }}</td>
            <td>{{ hospital.email }}</td>
            <td>{{ hospital.state }}</td>
            <td>{{ hospital.city }}</td>
            <td>{{ hospital.address }}</td>
            <td>{{ hospital.phoneNumber }}</td>
            <td><button class="btn btn-primary">Edit</button></td>
          </tr>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example" style="align-items: right;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li 
        class="page-item"
        *ngFor="let page of [].constructor(totalPages); let i = index">
        <a class="page-link" href="#">{{ i+1 }}</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
