<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Blood Bank</span>
      <span class="example-spacer"></span>
      <a routerLinkActive="active" routerLink="about">About Us</a>
      <a routerLinkActive="active" routerLink="signup">Sign Up</a>
      <a routerLinkActive="active" routerLink="login">
        <span>Login&nbsp;</span>
      <mat-icon>login</mat-icon>
      </a>
    </mat-toolbar>
    <ng-content></ng-content>
  </p>