<h2>Donor Details</h2>
<div class="table-cover">
    <table class="table table-striped"
        *ngIf="donors$ | async as donors">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">State</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">DOB</th>
            <th scope="col">Phone Number</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let donor of donors; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{ donor.username }}</td>
            <td>{{ donor.email }}</td>
            <td>{{ donor.state }}</td>
            <td>{{ donor.city }}</td>
            <td>{{ donor.address }}</td>
            <td>{{ donor.dateOfBirth }}</td>
            <td>{{ donor.phoneNumber }}</td>
            <td>
              <button 
                type="button" 
                class="btn btn-primary"
                (click)="open(content, donor)"
                >Edit</button>
            </td>
                
          </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example" style="align-items: right;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li 
        class="page-item"
        *ngFor="let page of [].constructor(totalPages); let i = index">
        <a class="page-link" href="#">{{ i+1 }}</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title col-10" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close col-2"
      style="width: 20px"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form class="form" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <div class="form-group" style="text-align: center; margin: 10px; font-size: 20px;">{{ updateForm.get('username')?.value }}</div>
      <!-- <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          disabled
          [value]="donorDetails.username"
        />
      </div> -->
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input 
          type="email" 
          class="form-control" 
          formControlName="email" />
      </div>
      <div class="form-group">
        <label for="gender" class="form-label">Gender</label>
        <select 
          name="gender" 
          id="gender" 
          class="form-control"
          formControlName="gender">
          <option value=""></option>
          <option value="MALE">Male</option>
          <option value="FEMALE">Female</option>
          <option value="OTHERS">Others</option>
        </select>
      </div>
      <div class="form-group">
        <label for="state" class="form-label">State</label>
        <input
          type="text"
          id="state"
          name="state"
          class="form-control"
          formControlName="state"
        />
      </div>
      <div class="form-group">
        <label for="city" class="form-label">City</label>
        <input
          type="text"
          id="city"
          name="city"
          class="form-control"
          formControlName="city"
        />
      </div>
      <div class="form-group">
        <label for="address" class="form-label">Address</label>
        <input
          type="text"
          id="address"
          name="address"
          class="form-control"
          formControlName="address"
        />
      </div>
      <div class="form-group">
        <label for="dateOfBirth" class="form-label">Date of Birth</label>
        <input
          type="date"
          id="dateOfBirth"
          name="dateOfBirth"
          class="form-control"
          formControlName="dateOfBirth"
        />
      </div>
      <div class="form-group">
        <label for="phoneNumber" class="form-label">PhoneNumber</label>
        <input
          type="number"
          id="phoneNumber"
          name="phoneNumber"
          class="form-control"
          formControlName="phoneNumber"
        />
      </div>
      <button type="submit" class="btn btn-success" style="margin: 20px;" (click)="modal.close()">Update</button>
    </form>
  </div>
</ng-template>

