<app-header *ngIf="!(isLoggedIn$ | async)">
    <router-outlet></router-outlet>
</app-header>

<app-sidenav *ngIf="(role$ | async) === 'ROLE_ADMIN'">
    <mat-nav-list list>
        <a mat-list-item [routerLink]="['admin', 'home']" routerLinkActive="active">Home</a>
        <a mat-list-item [routerLink]="['admin', 'donor-details']" routerLinkActive="active">Donors</a>
        <a mat-list-item [routerLink]="['admin', 'hospital-details']" routerLinkActive="active">Hospitals</a>
        <a mat-list-item [routerLink]="['admin', 'donations']" routerLinkActive="active">Donations</a>
        <a mat-list-item [routerLink]="['admin', 'requests']" routerLinkActive="active">Requests</a>
        <a mat-list-item [routerLink]="['admin', 'request-history']" routerLinkActive="active">Request History</a>
        <a mat-list-item [routerLink]="['admin', 'blood-stock']" routerLinkActive="active">Blood Stock</a>
    </mat-nav-list>
    <router-outlet content></router-outlet>
</app-sidenav>
<app-sidenav *ngIf="(role$ | async) === 'ROLE_DONOR'">
    <mat-nav-list list>
        <a mat-list-item [routerLink]="['donor', 'home']" routerLinkActive="active">Home</a>
        <a mat-list-item [routerLink]="['donor', 'donate']" routerLinkActive="active">Donate Blood</a>
        <a mat-list-item [routerLink]="['donor', 'history']" routerLinkActive="active">Donation History</a>
        <a mat-list-item [routerLink]="['donor', 'profile']" routerLinkActive="active">Your Profile</a>
    </mat-nav-list>
    <router-outlet content></router-outlet>
</app-sidenav>
<app-sidenav *ngIf="(role$ | async) === 'ROLE_HOSPITAL'">
    <mat-nav-list list>
        <a mat-list-item [routerLink]="['hospital', 'home']" routerLinkActive="active">Home</a>
        <a mat-list-item [routerLink]="['hospital', 'request']" routerLinkActive="active">Make Request</a>
        <a mat-list-item [routerLink]="['hospital', 'history']" routerLinkActive="active">Request History</a>
        <a mat-list-item [routerLink]="['hospital', 'profile']" routerLinkActive="active">Your Profile</a>
    </mat-nav-list>
    <router-outlet content></router-outlet>
</app-sidenav>

