<h2>Request History</h2>

<div class="search-box d-flex row">
  <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit(searchForm)" class="form d-flex col-md-6">
    <label for="username">Search By Username</label>
    <input type="text" id="username" name="username" class="form-control" formControlName="username">
    <button type="button" class="btn" (click)="search()">
      <mat-icon [ngStyle]="{'color': 'blue'}">search</mat-icon>
    </button>
    <button type="button" class="btn" (click)="clearSearch()">
      <mat-icon [ngStyle]="{'color': '#ed6464'}">cancel</mat-icon>
    </button>
  </form>
  <div class="col-xs-0 col-md-2"></div>
  <div class="col-xs-12 col-md-4 d-flex" style="justify-content: right;">
    <button class="btn btn-success d-flex p-2" (click)="generateReport()">
    <mat-icon>download</mat-icon>
    <p style="margin: 0px;">Generate Report</p> 
    </button>
  </div>
</div>
<div class="table-cover" *ngIf="requests$ | async as requests">
  <h2 style="text-align: center;" *ngIf="!(requests.length > 0)">No Requests Found!</h2>
  <table id="excel-table" class="table table-striped" *ngIf="requests.length > 0">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col" (click)="sortByField('username')" >
          <div class="sortableCol">
            Username
            <mat-icon 
              *ngIf="sortBy.value === 'username' && direction.value === 'asc'" 
              class="enabled-arrow">
                arrow_upward
            </mat-icon>
            <mat-icon 
              *ngIf="sortBy.value === 'username' && direction.value === 'desc'" 
              class="enabled-arrow">
                arrow_downward
              </mat-icon>
            <mat-icon 
              *ngIf="sortBy.value !== 'username'" 
              class="disabled-arrow">
                arrow_upward
            </mat-icon>
          </div>
        </th>
        <th scope="col">Email</th>
        <th scope="col">State</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Blood Group</th>
        <th scope="col" (click)="sortByField('quantity')">
          <div class="sortableCol">
            Quantity
            <mat-icon 
              *ngIf="sortBy.value === 'quantity' && direction.value === 'asc'" 
              class="enabled-arrow">
                arrow_upward
            </mat-icon>
            <mat-icon 
              *ngIf="sortBy.value === 'quantity' && direction.value === 'desc'" 
              class="enabled-arrow">
                arrow_downward
            </mat-icon>
            <mat-icon 
              *ngIf="sortBy.value !== 'quantity'"  
              class="disabled-arrow">
                arrow_upward
            </mat-icon>
          </div>

        </th>
        <th scope="col" (click)="sortByField('date')">
          <div class="sortableCol">
            Date
            <mat-icon 
              *ngIf="sortBy.value === 'date' && direction.value === 'asc'" 
              class="enabled-arrow">
                arrow_upward
            </mat-icon>
            <mat-icon 
              *ngIf="sortBy.value === 'date' && direction.value === 'desc'" 
              class="enabled-arrow">
                arrow_downward
            </mat-icon>
            <mat-icon 
              *ngIf="sortBy.value !== 'date'"  
              class="disabled-arrow">
                arrow_upward
            </mat-icon>
          </div>
        </th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ request.username }}</td>
        <td>{{ request.email }}</td>
        <td>{{ request.state }}</td>
        <td>{{ request.address }}</td>
        <td>{{ request.phoneNumber }}</td>
        <td class="text-danger">{{ request.bloodGroup }}</td>
        <td>{{ request.quantity }}</td>
        <td>{{ request.date }}</td>
        <td
          [ngClass]="{
            'text-success': request.status === 'accepted',
            'text-warning': request.status === 'pending',
            'text-danger': request.status === 'rejected'
          }"
        >
          {{ request.status.toUpperCase() }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
