<h2>Request History</h2>
<div style="justify-content: right; display: flex; margin-right: 30px">
  
  <button class="btn btn-success d-flex" (click)="generateReport()">
    <mat-icon>download</mat-icon>
    <p style="margin: 0px;">Generate Report</p> 
  </button>
</div>
<div class="table-cover" *ngIf="requests$ | async as requests">
  <h2 style="text-align: center;" *ngIf="!(requests.length > 0)">No Requests Found!</h2>
  <table id="excel-table" class="table table-striped" *ngIf="requests.length > 0">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col" (click)="sortByUsername()">
          Username
        </th>
        <th scope="col">Email</th>
        <th scope="col">State</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Blood Group</th>
        <th scope="col">Quantity</th>
        <th scope="col">Date of Request</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ request.username }}</td>
        <td>{{ request.email }}</td>
        <td>{{ request.state }}</td>
        <td>{{ request.address }}</td>
        <td>{{ request.phoneNumber }}</td>
        <td class="text-danger">{{ request.bloodGroup }}</td>
        <td>{{ request.quantity }}</td>
        <td>{{ request.date }}</td>
        <td
          [ngClass]="{
            'text-success': request.status === 'accepted',
            'text-warning': request.status === 'pending',
            'text-danger': request.status === 'rejected'
          }"
        >
          {{ request.status.toUpperCase() }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
