<h2>Blood Requests</h2>
<div *ngIf="successMessage" class="text-success">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="alert alert-danger" style="text-align: center; width: 30%; margin-left: auto; margin-right: 50px;">{{ errorMessage }}</div>
<div class="table-cover" *ngIf="requests$ | async as requests">
    <h2 style="text-align: center;" *ngIf="!(requests.length > 0)">No Requests Found!</h2>

    <table class="table table-striped"
        *ngIf="requests.length > 0">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">State</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Blood Group</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date of Request</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{ request.username }}</td>
            <td>{{ request.email }}</td>
            <td>{{ request.state }}</td>
            <td>{{ request.address }}</td>
            <td>{{ request.phoneNumber }}</td>
            <td class="text-danger">{{ request.bloodGroup }}</td>
            <td>{{ request.quantity }}</td>
            <td>{{ request.date }}</td>
            <td class="text-warning">{{ request.status.toUpperCase() }}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="onAccept(request)" >
                Accept 
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="onReject(request)">
                Reject
              </button>
            </td>
          </tr>
        </tbody>
    </table>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
