<div class="cover" *ngIf="!otpVerified">
  <h2>Forgot Password</h2>
  <hr />
  <form class="form" #f="ngForm" (ngSubmit)="onUsernameSubmit(f)">
    <div class="form-group mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        ngModel
        placeholder="Enter Username"
        #usernameCtrl="ngModel"
        required
      />
    </div>
    <div class="text-danger" *ngIf="usernameCtrl.touched && usernameCtrl.hasError('required')">Please enter username</div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="sending || usernameCtrl.hasError('required')">
        <span *ngIf="!sending">Send OTP</span> 
        <span *ngIf="sending">Sending OTP ...</span>
      </button>
    </div>
    
  </form>

</div>

<div *ngIf="isOtpSent && !otpVerified" class="cover">
  <div class="alert alert-success" >
    {{successMessage}}
  </div>
  <form #otpForm="ngForm" (ngSubmit)="otpSubmit(otpForm)" class="form">
    <div class="form-group mb-3">
      <label for="otp" class="form-label">Enter OTP</label>
      <input type="number" class="form-control" ngModel name="otp" id="otp" #otpCtrl="ngModel" required>
    </div>
    <div class="form-group mb-3">
      <button class="btn btn-primary" type="submit" [disabled]="otpCtrl.hasError('required')">Verify</button>
    </div>
  </form>
</div>

<div *ngIf="otpVerified" class="cover">
  <form (ngSubmit)="passwordSubmit(passForm)" #passForm="ngForm" class="form">
    <div class="form-group mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="text" required class="form-control" id="password" name="password" ngModel #passCtrl="ngModel"  placeholder="Enter new password">
    </div>
    <div class="text-danger" *ngIf="passCtrl.touched && passCtrl.hasError('required')">Please enter password</div>
    <div class="form-group mb-3">
      <label for="confirmpass" class="form-label">Confirm Password</label>
      <input type="text" required class="form-control" id="confirmpass" name="confirmpass" ngModel #confirmPassCtrl="ngModel"  placeholder="Confirm password">
    </div>
    <div class="text-danger" *ngIf="confirmPassCtrl.touched && confirmPassCtrl.hasError('required')">Please confirm password</div>
    <div class="text-danger" *ngIf="confirmPassCtrl.touched && confirmPassCtrl.value !== passCtrl.value">Passwords does not match</div>
    <!-- <div class="text-danger" *ngIf="passCtrl.touched && (passCtrl.hasError('pattern') || confirmPassCtrl.hasError('pattern'))">
      <p>Password must contain - </p>
      <ul>
        <li>Atleast one special character</li>
        <li>Atleast one capital letter</li>
        <li>Atleast one number</li>
        <li>Atleast 8 characters, maximum 16 characters</li>
      </ul>
    </div> -->
    <div class="form-group">
      <button class="btn btn-primary" type="submit" [disabled]="passForm.invalid || confirmPassCtrl.value !== passCtrl.value">Update Password</button>
    </div>
  </form>
  <div class="alert alert-danger" *ngIf="!passwordMatch">Password Does not match</div>

</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
