.cover{
    margin: 10px auto;
    width: 40%;
    padding: 10px;
    border: 1px solid rgb(207, 207, 247);
    border-radius: 5px;
}

h2{
    text-align: center;
}

.btn-group{
    display: block;
    text-align: center;
}