<div class="cover" *ngIf="!otpVerified">
  <h2>Forgot Password</h2>
  <hr />
  <form class="form" #f="ngForm" (ngSubmit)="onUsernameSubmit(f)">
    <div class="form-group mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        ngModel
        placeholder="Enter Username"
      />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="sending">
        <span *ngIf="!sending">Send OTP</span> 
        <span *ngIf="sending">Sending OTP ...</span>
      </button>
    </div>
    
  </form>

</div>

<div *ngIf="isOtpSent && !otpVerified" class="cover">
  <div class="alert alert-success" >
    {{successMessage}}
  </div>
  <form #otpForm="ngForm" (ngSubmit)="otpSubmit(otpForm)" class="form">
    <div class="form-group mb-3">
      <label for="otp" class="form-label">Enter OTP</label>
      <input type="number" class="form-control" ngModel name="otp" id="otp">
    </div>
    <div class="form-group mb-3">
      <button class="btn btn-primary" type="submit">Verify</button>
    </div>
  </form>
</div>

<div *ngIf="otpVerified" class="cover">
  <form (ngSubmit)="passwordSubmit(passForm)" #passForm="ngForm" class="form">
    <div class="form-group mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="text" required class="form-control" id="password" name="password" ngModel placeholder="Enter new password">
    </div>
    <div class="form-group mb-3">
      <label for="confirmpass" class="form-label">Confirm Password</label>
      <input type="text" required class="form-control" id="confirmpass" name="confirmpass" ngModel placeholder="Confirm password">
    </div>
    <div class="form-control">
      <button class="btn btn-primary" type="submit">Update Password</button>
    </div>
  </form>
  <div class="alert alert-danger" *ngIf="!passwordMatch">Password Does not match</div>
  <div class="alert alert-success" *ngIf="passwordUpdated"> 
    Password Successfully Updated
  </div>
  <a class="btn btn-primary" routerLink="/login" *ngIf="passwordUpdated">Go to Login page</a>

</div>