.cover{
    margin: 30px auto;
    width: 40%;
    padding: 30px;
    border: 1px solid rgb(92, 234, 92);
    border-radius: 10px;
}

h2{
    text-align: center;
}

.btn-group{
    display: block;
    text-align: center;
}

hr{
    color: rgb(88, 165, 88);
}
