<mat-stepper #stepper>
  <mat-step [stepControl]="usernameFormGroup">
    <form [formGroup]="usernameFormGroup" class="container" >
      <ng-template matStepLabel>Choose Username and Role</ng-template>
      <div class="row">
        <mat-form-field class="col-6">
          <mat-label>Enter Username</mat-label>
          <input matInput placeholder="Enter your Username" formControlName="usernameCtrl" required>
          <mat-error
            *ngIf="usernameFormGroup.get('usernameCtrl')?.touched &&
              usernameFormGroup.get('usernameCtrl')?.hasError('required')">
                Please provide username
          </mat-error>
          <mat-error
            *ngIf="usernameFormGroup.get('usernameCtrl')?.touched &&
              usernameFormGroup.get('usernameCtrl')?.hasError('minlength')">
                Username should be at least 5 Characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-6">
          <mat-label>Select Role</mat-label>
          <mat-select matInput formControlName="roleCtrl" placeholder="Select your Role">
            <mat-option value="donor">Donor</mat-option>
            <mat-option value="hospital">Hospital</mat-option>
          </mat-select>
          <mat-error
            *ngIf="usernameFormGroup.get('roleCtrl')?.touched &&
              usernameFormGroup.get('roleCtrl')?.hasError('required')">
                Please select role
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button 
          mat-button 
          matStepperNext 
          [disabled]="usernameFormGroup.invalid" 
          >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="passwordFormGroup" label="Set Password">
    <form [formGroup]="passwordFormGroup">
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input 
            [type]="hide ? 'password' : 'text'" 
            matInput 
            formControlName="pwdCtrl" 
            placeholder="Enter Password"
            required>
          <button 
            mat-icon-button 
            matSuffix 
            (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error
            *ngIf="passwordFormGroup.get('pwdCtrl')?.touched && 
            passwordFormGroup.get('pwdCtrl')?.hasError('required')">
              Please provide password
          </mat-error>
          <mat-error
            *ngIf="passwordFormGroup.get('pwdCtrl')?.touched && 
            passwordFormGroup.get('pwdCtrl')?.hasError('minlength')">
              Password should have at least 8 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input 
            [type]="hide ? 'password' : 'text'"
            matInput 
            formControlName="confirmPwdCtrl" 
            placeholder="Confirm Password"
            required>
          <button 
            mat-icon-button 
            matSuffix 
            (click)="hide = !hide" 
            [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error 
            *ngIf="passwordFormGroup.get('confirmPwdCtrl')?.hasError('passwordDoesNotMatch') && 
              passwordFormGroup.get('confirmPwdCtrl')?.touched">
            Password does not match
          </mat-error>
          <mat-error 
            *ngIf="passwordFormGroup.get('confirmPwdCtrl')?.hasError('minLength') && 
              passwordFormGroup.get('confirmPwdCtrl')?.touched">
            Password should contain at least 8 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button 
          mat-button 
          matStepperPrevious 
          >Back</button>
        <button 
          mat-button 
          matStepperNext 
          [disabled]="passwordFormGroup.get('confirmPwdCtrl')?.hasError('passwordDoesNotMatch')"
          >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Enter Your Details</ng-template>
    <form [formGroup]="userDetailsFormGroup" class="container" (ngSubmit)="onUserDetailsSubmit()">
      <div class="row">
        <mat-form-field class="col-4">
          <mat-label *ngIf="usernameFormGroup.get('roleCtrl')?.value!=='donor'">Hospital's Name</mat-label>
          <mat-label *ngIf="usernameFormGroup.get('roleCtrl')?.value==='donor'">Name</mat-label>
          <input matInput type="text" formControlName="nameCtrl" placeholder="Enter Name">
          <mat-error
            *ngIf="userDetailsFormGroup.get('nameCtrl')?.hasError('required')">
                Please provide name
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="emailCtrl" placeholder="Enter your Email">
          <mat-error
            *ngIf="userDetailsFormGroup.get('emailCtrl')?.hasError('required')">
                Please provide email
          </mat-error>
          <mat-error
            *ngIf="userDetailsFormGroup.get('emailCtrl')?.hasError('email')">
                Invalid email
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-4" *ngIf="usernameFormGroup.get('roleCtrl')?.value==='donor'">
          <mat-label>Gender</mat-label>
          <mat-select matInput formControlName="genderCtrl" placeholder="Select your Gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="others">Others</mat-option>
          </mat-select>
          <mat-error
            *ngIf="userDetailsFormGroup.get('genderCtrl')?.hasError('required')">
                Please select gender
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-4">
          <mat-label>State</mat-label>
          <mat-select matInput formControlName="stateCtrl" placeholder="Select your State">
            <mat-option value="AP">Andhra Pradesh</mat-option>
            <mat-option value="AR">Arunachal Pradesh</mat-option>
            <mat-option value="AS">Assam</mat-option>
            <mat-option value="BR">Bihar</mat-option>
            <mat-option value="CT">Chhattisgarh</mat-option>
            <mat-option value="GA">Gujarat</mat-option>
            <mat-option value="HR">Haryana</mat-option>
            <mat-option value="HP">Himachal Pradesh</mat-option>
            <mat-option value="JK">Jammu and Kashmir</mat-option>
            <mat-option value="GA">Goa</mat-option>
            <mat-option value="JH">Jharkhand</mat-option>
            <mat-option value="KA">Karnataka</mat-option>
            <mat-option value="KL">Kerala</mat-option>
            <mat-option value="MP">Madhya Pradesh</mat-option>
            <mat-option value="MH">Maharashtra</mat-option>
            <mat-option value="MN">Manipur</mat-option>
            <mat-option value="ML">Meghalaya</mat-option>
            <mat-option value="MZ">Mizoram</mat-option>
            <mat-option value="NL">Nagaland</mat-option>
            <mat-option value="OR">Odisha</mat-option>
            <mat-option value="PB">Punjab</mat-option>
            <mat-option value="RJ">Rajasthan</mat-option>
            <mat-option value="SK">Sikkim</mat-option>
            <mat-option value="TN">Tamil Nadu</mat-option>
            <mat-option value="TG">Telangana</mat-option>
            <mat-option value="TR">Tripura</mat-option>
            <mat-option value="UT">Uttarakhand</mat-option>
            <mat-option value="UP">Uttar Pradesh</mat-option>
            <mat-option value="WB">West Bengal</mat-option>
            <mat-option value="AN">Andaman and Nicobar Islands</mat-option>
            <mat-option value="CH">Chandigarh</mat-option>
            <mat-option value="DN">Dadra and Nagar Haveli</mat-option>
            <mat-option value="DD">Daman and Diu</mat-option>
            <mat-option value="DL">Delhi</mat-option>
            <mat-option value="LD">Lakshadweep</mat-option>
            <mat-option value="PY">Puducherry</mat-option>
          </mat-select>
          <mat-error
            *ngIf="userDetailsFormGroup.get('stateCtrl')?.hasError('required')">
                Please select state
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="cityCtrl" placeholder="Enter your City">
          <mat-error
            *ngIf="userDetailsFormGroup.get('cityCtrl')?.hasError('required')">
                Please provide city
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="addressCtrl" placeholder="Enter your Address">
          <mat-error
            *ngIf="userDetailsFormGroup.get('addressCtrl')?.hasError('required')">
                Please provide address
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-4">
          <mat-label>Mobile Number</mat-label>
          <input matInput type="number" formControlName="mnoCtrl" placeholder="Enter your Mobile Number">
          <mat-error
            *ngIf="userDetailsFormGroup.get('mnoCtrl')?.hasError('required')">
                Please provide mobile number
          </mat-error>
          <mat-error
            *ngIf="(userDetailsFormGroup.get('mnoCtrl')?.hasError('min')  ||
              userDetailsFormGroup.get('mnoCtrl')?.hasError('max'))">
                Inavlid Mobile Number
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext type="submit">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Submit Form?</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>

