<mat-stepper #stepper>
  <mat-step [stepControl]="usernameFormGroup">
    <form [formGroup]="usernameFormGroup" class="container" >
      <ng-template matStepLabel>Choose Username and Role</ng-template>
      <div class="row">
        <mat-form-field class="col-6">
          <mat-label>Enter Username</mat-label>
          <input matInput placeholder="Enter your Username" formControlName="usernameCtrl" required>
          <mat-error
            *ngIf="usernameFormGroup.get('usernameCtrl')?.touched &&
              usernameFormGroup.get('usernameCtrl')?.hasError('required')">
                Please provide username
          </mat-error>
          <mat-error
            *ngIf="usernameFormGroup.get('usernameCtrl')?.touched &&
              usernameFormGroup.get('usernameCtrl')?.hasError('minlength')">
                Username should be at least 5 Characters
          </mat-error>
          <mat-error
            *ngIf="usernameFormGroup.get('usernameCtrl')?.touched &&
              usernameFormGroup.get('usernameCtrl')?.hasError('maxlength')">
                Username should be less than 16 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-6">
          <mat-label>Select Role</mat-label>
          <mat-select matInput formControlName="roleCtrl" placeholder="Select your Role">
            <mat-option value="ROLE_DONOR">Donor</mat-option>
            <mat-option value="ROLE_HOSPITAL">Hospital</mat-option>
          </mat-select>
          <mat-error
            *ngIf="usernameFormGroup.get('roleCtrl')?.touched &&
              usernameFormGroup.get('roleCtrl')?.hasError('required')">
                Please select role
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button 
          mat-button 
          matStepperNext 
          [disabled]="usernameFormGroup.invalid" 
          >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="passwordFormGroup" label="Set Password">
    <form [formGroup]="passwordFormGroup">
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input 
            [type]="hide ? 'password' : 'text'" 
            matInput 
            formControlName="pwdCtrl" 
            placeholder="Enter Password"
            required>
          <button 
            mat-icon-button 
            matSuffix 
            (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error
            *ngIf="passwordFormGroup.get('pwdCtrl')?.touched && 
            passwordFormGroup.get('pwdCtrl')?.hasError('required')">
              Please provide password
          </mat-error>
          <mat-error
            *ngIf="passwordFormGroup.get('pwdCtrl')?.touched && 
            passwordFormGroup.get('pwdCtrl')?.hasError('minlength')">
              Password should have at least 8 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input 
            [type]="hide ? 'password' : 'text'"
            matInput 
            formControlName="confirmPwdCtrl" 
            placeholder="Confirm Password"
            required>
          <button 
            mat-icon-button 
            matSuffix 
            (click)="hide = !hide" 
            [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error 
            *ngIf="passwordFormGroup.get('confirmPwdCtrl')?.hasError('passwordDoesNotMatch') && 
              passwordFormGroup.get('confirmPwdCtrl')?.touched">
            Password does not match
          </mat-error>
          <mat-error 
            *ngIf="passwordFormGroup.get('confirmPwdCtrl')?.hasError('minLength') && 
              passwordFormGroup.get('confirmPwdCtrl')?.touched">
            Password should contain at least 8 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button 
          mat-button 
          matStepperPrevious 
          >Back</button>
        <button 
          mat-button 
          matStepperNext 
          [disabled]="passwordFormGroup.get('confirmPwdCtrl')?.hasError('passwordDoesNotMatch')"
          >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Enter Your Details</ng-template>
    <form [formGroup]="userDetailsFormGroup" class="container" (ngSubmit)="onUserDetailsSubmit()">
      <div class="row">
        <mat-form-field class="col-4">
          <mat-label *ngIf="usernameFormGroup.get('roleCtrl')?.value!=='ROLE_DONOR'">Hospital's Name</mat-label>
          <mat-label *ngIf="usernameFormGroup.get('roleCtrl')?.value==='ROLE_DONOR'">Name</mat-label>
          <input matInput type="text" formControlName="nameCtrl" placeholder="Enter Name">
          <mat-error
            *ngIf="userDetailsFormGroup.get('nameCtrl')?.hasError('required')">
                Please provide name
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="emailCtrl" placeholder="Enter your Email">
          <mat-error
            *ngIf="userDetailsFormGroup.get('emailCtrl')?.hasError('required')">
                Please provide email
          </mat-error>
          <mat-error
            *ngIf="userDetailsFormGroup.get('emailCtrl')?.hasError('email')">
                Invalid email
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-4" *ngIf="usernameFormGroup.get('roleCtrl')?.value==='ROLE_DONOR'">
          <mat-label>Gender</mat-label>
          <mat-select matInput formControlName="genderCtrl" placeholder="Select your Gender">
            <mat-option value="MALE">Male</mat-option>
            <mat-option value="FEMALE">Female</mat-option>
            <mat-option value="OTHERS">Others</mat-option>
          </mat-select>
          <mat-error
            *ngIf="userDetailsFormGroup.get('genderCtrl')?.hasError('required')">
                Please select gender
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-4">
          <mat-label>State</mat-label>
          <mat-select matInput formControlName="stateCtrl" placeholder="Select your State">
            <mat-option value="Andhra Pradesh">Andhra Pradesh</mat-option>
            <mat-option value="Arunachal Pradesh">Arunachal Pradesh</mat-option>
            <mat-option value="Assam">Assam</mat-option>
            <mat-option value="Bihar">Bihar</mat-option>
            <mat-option value="Chhattisgarh">Chhattisgarh</mat-option>
            <mat-option value="Gujarat">Gujarat</mat-option>
            <mat-option value="Haryana">Haryana</mat-option>
            <mat-option value="Himachal Pradesh">Himachal Pradesh</mat-option>
            <mat-option value="Jammu and Kashmir">Jammu and Kashmir</mat-option>
            <mat-option value="Goa">Goa</mat-option>
            <mat-option value="Jharkhand">Jharkhand</mat-option>
            <mat-option value="Karnataka">Karnataka</mat-option>
            <mat-option value="Kerala">Kerala</mat-option>
            <mat-option value="Madhya Pradesh">Madhya Pradesh</mat-option>
            <mat-option value="Maharashtra">Maharashtra</mat-option>
            <mat-option value="Manipur">Manipur</mat-option>
            <mat-option value="Meghalaya">Meghalaya</mat-option>
            <mat-option value="Mizoram">Mizoram</mat-option>
            <mat-option value="Nagaland">Nagaland</mat-option>
            <mat-option value="Odisha">Odisha</mat-option>
            <mat-option value="Punjab">Punjab</mat-option>
            <mat-option value="Rajasthan">Rajasthan</mat-option>
            <mat-option value="Sikkim">Sikkim</mat-option>
            <mat-option value="Tamil Nadu">Tamil Nadu</mat-option>
            <mat-option value="Telangana">Telangana</mat-option>
            <mat-option value="Tripura">Tripura</mat-option>
            <mat-option value="Uttarakhand">Uttarakhand</mat-option>
            <mat-option value="Uttar Pradesh">Uttar Pradesh</mat-option>
            <mat-option value="West Bengal">West Bengal</mat-option>
            <mat-option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</mat-option>
            <mat-option value="Chandigarh">Chandigarh</mat-option>
            <mat-option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</mat-option>
            <mat-option value="Daman and Diu">Daman and Diu</mat-option>
            <mat-option value="Delhi">Delhi</mat-option>
            <mat-option value="Lakshadweep">Lakshadweep</mat-option>
            <mat-option value="Puducherry">Puducherry</mat-option>
          </mat-select>
          <mat-error
            *ngIf="userDetailsFormGroup.get('stateCtrl')?.hasError('required')">
                Please select state
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="cityCtrl" placeholder="Enter your City">
          <mat-error
            *ngIf="userDetailsFormGroup.get('cityCtrl')?.hasError('required')">
                Please provide city
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="addressCtrl" placeholder="Enter your Address">
          <mat-error
            *ngIf="userDetailsFormGroup.get('addressCtrl')?.hasError('required')">
                Please provide address
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-4"  *ngIf="usernameFormGroup.get('roleCtrl')?.value==='ROLE_DONOR'">
          <mat-label>Date Of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dobCtrl" placeholder="Enter your Date of Birth" [max]="maxDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="userDetailsFormGroup.get('dobCtrl')?.hasError('required')">
                Please provide DOB
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-4">
          <mat-label>Mobile Number</mat-label>
          <input matInput type="number" formControlName="mnoCtrl" placeholder="Enter your Mobile Number">
          <mat-error
            *ngIf="userDetailsFormGroup.get('mnoCtrl')?.hasError('required')">
                Please provide mobile number
          </mat-error>
          <mat-error
            *ngIf="(userDetailsFormGroup.get('mnoCtrl')?.hasError('min')  ||
              userDetailsFormGroup.get('mnoCtrl')?.hasError('max'))">
                Inavlid Mobile Number
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext type="submit">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <h2>Your Details</h2>
    <div class="custom-container col-xs-10 col-md-6">
      <div>
        <div class="custom-row">
          <div class="col-6 type">Username</div>
          <div class="col-6">{{ usernameFormGroup.get('usernameCtrl')?.value }}</div>
        </div>
        <div class="custom-row">
          <div class="col-6 type">Role</div>
          <div class="col-6">{{ usernameFormGroup.get('roleCtrl')?.value }}</div>
        </div>
        <div class="custom-row">
          <div class="col-6 type">Name</div>
          <div class="col-6">{{ userDetailsFormGroup.get('nameCtrl')?.value }}</div>
        </div>
        <div class="custom-row">
          <div class="col-6 type">Email</div>
          <div class="col-6">{{ userDetailsFormGroup.get('emailCtrl')?.value }}</div>
        </div>
        <div class="custom-row"  *ngIf="usernameFormGroup.get('roleCtrl')?.value==='ROLE_DONOR'">
          <div class="col-6 type">Gender</div>
          <div class="col-6">{{ userDetailsFormGroup.get('genderCtrl')?.value }}</div>
        </div>
        <div class="custom-row">
          <div class="col-6 type">City</div>
          <div class="col-6">{{ userDetailsFormGroup.get('cityCtrl')?.value }}</div>
        </div>
        <div class="custom-row">
          <div class="col-6 type">State</div>
          <div class="col-6">{{ userDetailsFormGroup.get('stateCtrl')?.value }}</div>
        </div>
        <div class="custom-row">
          <div class="col-6 type">Address</div>
          <div class="col-6">{{ userDetailsFormGroup.get('addressCtrl')?.value }}</div>
        </div>
        <div class="custom-row"  *ngIf="usernameFormGroup.get('roleCtrl')?.value==='ROLE_DONOR'">
          <div class="col-6 type">Date Of Birth</div>
          <div class="col-6">{{ userDetailsFormGroup.get('dobCtrl')?.value }}</div>
        </div>
        <div class="custom-row">
          <div class="col-6 type">Mobile Number</div>
          <div class="col-6">{{ userDetailsFormGroup.get('mnoCtrl')?.value }}</div>
        </div>
      </div>
    </div>
    <p style="text-align: center;">Submit Form?</p>
    <div style="display: flex; justify-content: center">
      <button mat-button matStepperPrevious class="btn btn-primary">Back</button>
      <button mat-button class="btn btn-danger" (click)="stepper.reset()">Reset</button>
      <button mat-button class="btn btn-success" (click)="onSignupSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-stepper>

